@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes bg-animation {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(460deg);
    }
  }

  @keyframes circle-animation {
    0% {
      transform: scale(1);
    }
    80%, 100% {
      transform: scale(0);
    }
  }

  @keyframes fade {
    0%, 100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }

  .animate-bg-animation {
    animation: bg-animation 5s linear infinite;
  }

  .animate-circle-animation {
    animation: circle-animation 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
  }

  .animate-fade {
    animation: fade 2s ease-in-out infinite;
  }
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
